.git
.vscode
**/node_modules
web/dist
web/.vite
backend/target
fullstack-starter/backend/target
**/target
mysql/data
redis/data
data
static
nginx/html
nginx/logs
nginx/temp
nginx/nginx.exe
nginx/contrib
nginx/docs
.env
.env.*
!.env.example
target/classes
target/maven-status
src/