<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyf.mp.server.modules.agent.AgentMapper$inner">
    <resultMap id="playlistVO" type="com.kyf.mp.server.modules.agent.vo.GetPlaylistsVO">
        <id property="id" column="id" />
        <result property="description" column="description" />
        <result property="playlistName" column="playlistName" />
        <result property="createdDate" column="createdDate" />
    </resultMap>
    <select id="" resultMap="playlistVO"> select p.playlist_id as id,p.description as description,
        p.created_date as createdDate from playlists as p where p.playlist_name like "%#{keyword}%" </select>
</mapper>