<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyf.mp.server.modules.agent.mapper.AgentMapper$InnerSongMapper">
    <resultMap id="SongDTO" type="com.kyf.mp.server.modules.agent.dto.GetSongsDTO">
        <id property="id" column="song_id" />
        <result property="songTitle" column="song_title" />
        <result property="artist" column="artist" />
        <result property="bitrate" column="bitrate" />
    </resultMap>
    <select id="getSongs" resultMap="SongDTO">
        SELECT s.song_id, s.song_title, s.artist, s.bitrate
        FROM songs s
        WHERE s.song_title LIKE CONCAT('%', #{keyword}, '%')
           OR s.artist LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY s.song_id
    </select>
</mapper>
