<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty
        scope="context"
        name="appLogLevel"
        source="app.log-level"
        defaultValue="INFO"
    />
    <property
        name="logPath"
        value="logs"
    />
    <appender
        name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%-5level){cyan} - [%thread] -%logger:%msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender
        name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender"
    >
        <file>${logPath}/server.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${logPath}/archive/%d{yyyy-MM-dd}.server.%i.log.gz
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - [%thread] - %logger:%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <springProfile name="dev">
        <logger
            name="com.kyf.mp.server"
            level="${appLogLevel}"
        />
        <logger
            name="org.springframework.web"
            level="DEBUG"
        />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <logger
            name="com.kyf.mp.server"
        />
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
    <springProfile name="!dev &amp; !prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>